--writing helper code to run computations and produce the relevant graphs from the data on the dataset
(some small functions and code chunks that the students can use)
--make sure that the students have some chance of writing their own code to answer those questions

I wanted to give some guidance on cleaning the data:
--I realize that the excel spreadsheet isn't the best form of data to work with in pandas, so I recommend first copying all the data to an excel spreadsheet and saving it as a .csv.

--This allows you to delete the empty space columns (the columns dividing the different tables on the original excel data) on the spreadsheet before loading it into pandas. 
In addition, a lot of values will appear as ##### when you first copy them into excel, but if you click on the entry, it will have a numerical value inside.

--Generally, make the data as tidy as possible (on the spreadsheet) before loading it into pandas, but its ok to have missing values in the csv file. For the ##### values however, try to fill in these with the correct population number from the original data (there's only a small handful, mostly in the population column).

--IMPORTANT: be sure to change each of the column names to something smaller and more manageable. For example, the first column is currently named “Historical Emissions A Source: WRI, 2011 (Climate Analysis Indicators Tool v8) Cumulative CO2 emissions from energy, 1850–2007 (million tonnes)” which is extremely difficult to type in order to select that column. A better name could be just “CO2_emissions”

--If pandas yells at you when you try to load the .csv (with some error such as "can't decode byte at position 0x484"), then try passing in encoding ="ISO-8859-1" as one of the arguments to the read_csv() function.

Hopefully, after you do the steps above, when you load the data, you won't have to do so much cleaning when you finally load the data. (I think you’ll still have to drop those “Unnamed:num” columns). More importantly, the students will be much less intimidated looking at the code.

My next suggestion is to create a markdown table at the beginning of the notebook specifying each variable name “CO2_emissions” on the left side and what that variable stands for “Historical Emissions …” (the full name from the original excel spreadsheet). This table will be a good reference for the students later in the notebook. (edited)

I wanted to ask when you’d be free this week to have a quick meeting? I think it would be great to meet up in person and discuss these steps. Unfortunately, I can't make it to OH today, but I'm free to meet from 12-5:30pm today, and after 3:30pm tomorrow. Let me know if any of those times work for you

# CE-157 Problem Set 3

Hey everyone! Just run the 3 cells below and continue onwards! They're just needed to run the initial code needed to run the rest of the functions in this problem set.

In [1]:
import matplotlib
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from datascience import *
import pandas as pd
import numpy as np
import xlrd

In [26]:
df = pd.read_csv("ProblemSet3_DataCleaned.csv")
df

,Unnamed: 0,"Historical Emissions A Cumulative CO2 emissions from energy, 1850–2007 (million tonnes)","Historical Emissions B Cumulative GHG Emissions, 1990-2010 (million tonnes CO2 equivalent)","Current GHG Emissions Total GHG Emissions, 2010 (million tonnes CO2 equivalent)","Current CO2 Emissions CO2 emissions from fossil fuel combustion, 2011 (million tonnes)",Change from 1971–2011 (%),Change from 1990–2011 (%),Total carbon footprint Footprint of all goods and services consumed (million tonnes CO2 equivalent),Population 2010,GDP-PPP 2010 (Million $ (2005)),"HDI, 2011",HDI Change from 1990-2011 (%),"Gender Inequality Index Value, 2012","Maternal Mortality Ratio, 2010"
0,Afghanistan,72.4,349.34,24.94,NaN,NaN,NaN,NaN,"28,397,812",33596.0,0.371,50.81,0.712,460.0
1,Albania,227.9,143.81,6.57,3.9,-0.3,-38.0,5.4,"3,150,143",24545.0,0.748,13.16,0.251,27.0
2,Algeria,"2,272.40",2618.81,169.42,103.9,1064.8,97.0,NaN,"37,062,820",269075.0,0.711,26.51,0.391,97.0
3,Angola,305.3,3300.97,219.84,15.7,845.5,292.0,NaN,"19,549,124",98686.0,0.504,NaN,NaN,450.0
4,Antigua & Barbuda,16.6,14.17,1.20,NaN,NaN,NaN,NaN,"87,233",1541.0,0.759,NaN,NaN,NaN
5,Argentina,"5,894.80",6308.23,359.01,183.6,121.8,83.8,165.5,"40,374,224",580427.0,0.810,15.55,0.380,77.0
6,Armenia,505.6,183.45,13.43,4.7,NaN,-77.2,6.0,"2,963,496",15153.0,0.726,15.61,0.340,30.0
7,Australia,"13,108.50",10252.55,587.53,396.8,175.3,52.6,297.0,"22,065,300",763921.0,0.936,6.36,0.115,7.0
8,Austria,"4,541.90",1712.92,84.28,68.5,40.6,21.4,99.8,"8,389,771",296268.0,0.894,12.17,0.102,4.0
9,Azerbaijan,"2,323.70",1218.83,64.21,26.8,NaN,-51.3,30.3,"9,054,332",80696.0,0.732,NaN,0.323,43.0
10,Bahamas,139.6,47.59,3.88,NaN,NaN,NaN,NaN,"360,498",9795.0,0.792,NaN,0.316,47.0
11,Bahrain,479.1,401.18,34.88,22.7,652.9,93.8,NaN,"1,251,513",26892.0,0.795,11.50,0.258,20.0
12,Bangladesh,657.4,1905.20,130.25,54.1,1597.9,298.9,57.8,"151,125,475",221297.0,0.511,41.55,0.518,240.0
13,Barbados,37.5,65.69,3.46,NaN,NaN,NaN,NaN,"280,396",NaN,0.824,8.42,0.343,51.0
14,Belarus,"4,382.10",2150.15,96.87,66.0,NaN,-46.9,61.5,"9,490,000",118671.0,0.789,NaN,NaN,4.0
15,Belgium,"10,903.30",2952.19,157.58,108.6,-7.1,0.6,234.5,"10,895,586",358211.0,0.897,9.79,0.098,8.0
16,Belize,12.4,149.08,8.99,NaN,NaN,NaN,NaN,"308,595",2061.0,0.701,7.35,0.435,53.0
17,Benin,39.3,258.97,17.22,4.7,1451.6,1743.7,NaN,"9,509,798",12565.0,0.434,38.22,0.618,350.0
18,Bhutan,7.2,30.89,1.27,NaN,NaN,NaN,NaN,"716,939",3607.0,0.532,NaN,0.464,180.0
19,Bolivia,275.6,1045.77,59.83,15.2,601.2,195.9,9.9,"10,156,601",43129.0,0.671,20.47,0.474,190.0
20,Bosnia & Herzegovina,679.6,426.76,28.63,22.8,NaN,-3.6,NaN,"3,845,929",28037.0,0.734,NaN,NaN,8.0
21,Botswana,87.4,244.44,11.74,4.7,NaN,60.0,7.7,"1,969,341",25627.0,0.634,8.19,0.485,160.0
22,Brazil,"9,836.60",19082.92,1162.62,408.0,352.1,112.1,404.6,"195,210,154",1967579.0,0.728,23.39,0.447,56.0
23,Brunei,176.2,378.79,21.35,8.9,2133.0,174.2,NaN,"400,569",18153.0,0.854,9.21,NaN,24.0
24,Bulgaria,"3,170.60",1489.37,61.89,49.2,-21.7,-34.3,52.2,"7,534,289",86682.0,0.780,10.80,0.219,11.0
25,Burkina Faso,25.9,305.51,20.38,NaN,NaN,NaN,NaN,"15,540,284",18718.0,0.340,NaN,0.609,300.0
26,Burundi,8.5,305.31,37.05,NaN,NaN,NaN,NaN,"9,232,753",4389.0,0.352,29.41,0.476,800.0
27,Cambodia,50.7,397.23,26.01,4.0,NaN,NaN,9.1,"14,364,931",27826.0,0.538,NaN,0.473,250.0
28,Cameroon,180.4,1882.13,90.07,5.1,603.3,91.1,NaN,"20,624,343",40186.0,0.492,14.15,0.628,690.0
29,Canada,"25,716.00",13999.98,726.63,529.8,56.0,23.7,600.5,"34,126,547",1202022.0,0.910,5.20,0.119,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,Sri Lanka,287.6,734.76,39.09,15.0,444.4,301.2,21.5,"20,653,000",95022.0,0.711,16.94,0.402,35.0
157,Sudan,229,2642.59,168.72,14.5,343.3,163.6,NaN,"35,652,002",80948.0,0.419,39.20,0.604,730.0
158,Suriname,88.7,91.39,3.99,NaN,NaN,NaN,NaN,"524,960",3731.0,0.681,NaN,0.467,130.0
159,Swaziland,23.7,51.74,2.76,NaN,NaN,NaN,NaN,"1,193,148",5634.0,0.536,0.56,0.525,320.0
160,Sweden,"4,328.30",1427.71,73.99,44.9,-45.5,-14.9,80.2,"9,378,126",320032.0,0.915,11.18,0.055,4.0
161,Switzerland,"2,496.30",1101.97,52.13,39.9,2.3,-4.2,108.0,"7,824,909",305736.0,0.912,8.57,0.057,8.0
162,Syria,"1,231.60",1642.25,99.92,53.2,783.0,88.9,NaN,"21,532,647",96934.0,0.646,15.98,0.551,70.0
163,Taiwan,"5,484.40",NaN,NaN,264.7,754.3,131.4,292.0,"23,024,956",NaN,NaN,NaN,NaN,NaN
164,Tajikistan,409.7,207.95,10.46,3.0,NaN,-72.6,NaN,"7,627,326",13370.0,0.618,0.49,0.338,65.0
165,Tanzania,113.1,1350.34,72.71,6.3,310.8,267.1,10.4,"44,973,330",56273.0,0.470,33.14,0.556,460.0
166,Thailand,"3,927.90",5607.30,381.94,243.2,1397.0,202.4,246.2,"66,402,316",530367.0,0.686,20.56,0.360,48.0
167,Togo,30,164.01,8.12,1.2,266.3,118.7,NaN,"6,306,014",5436.0,0.455,19.11,0.566,300.0
168,Tonga,3.3,6.93,0.40,NaN,NaN,NaN,NaN,"104,098",430.0,0.709,8.08,0.462,110.0
169,Trinidad & Tobago,773,604.07,54.01,40.8,563.2,258.6,NaN,"1,328,095",31142.0,0.759,10.80,0.311,46.0
170,Tunisia,557.7,575.61,27.82,21.1,474.1,74.9,21.7,"10,549,100",89610.0,0.710,28.39,0.261,56.0
171,Turkey,"5,750.70",6182.30,385.77,285.7,590.0,125.1,327.5,"72,137,546",914063.0,0.720,26.54,0.366,20.0
172,Turkmenistan,"1,846.50",1487.43,96.40,61.5,NaN,38.4,NaN,"5,041,995",37027.0,0.693,NaN,NaN,67.0
173,Uganda,53,452.94,27.50,NaN,NaN,NaN,5.3,"33,987,213",38399.0,0.454,48.37,0.517,310.0
174,Ukraine,"25,431.00",11065.82,390.35,285.4,NaN,-58.5,255.4,"45,870,700",276575.0,0.737,3.22,0.338,32.0
175,United Arab Emirates,"2,109.40",2609.38,256.41,165.9,6676.1,219.7,NaN,"8,441,537",307951.0,0.817,NaN,0.241,12.0
176,United Kingdom,"68,763.40",14194.64,627.46,443.0,-28.9,-19.3,704.3,"62,271,177",2043064.0,0.875,11.61,0.205,12.0
177,United States of America,"339,174.00",138381.18,6866.92,5287.2,23.2,8.6,6153.2,"309,326,225",12992000.0,0.936,6.61,0.256,21.0
178,Uruguay,283.9,626.60,34.67,7.6,45.1,102.0,9.8,"3,371,982",42383.0,0.789,13.85,0.367,29.0
179,Uzbekistan,"6,000.50",4448.91,219.98,110.2,NaN,-8.0,NaN,"28,562,400",78648.0,0.649,NaN,NaN,28.0
180,Vanuatu,3.1,10.78,0.62,NaN,NaN,NaN,NaN,"236,299",946.0,0.625,NaN,NaN,110.0
181,Venezuela,"4,751.60",4753.58,262.47,159.2,205.8,51.5,150.0,"29,043,283",316397.0,0.746,17.48,0.466,92.0
182,Vietnam,"1,639.80",3165.03,256.77,137.4,750.9,698.6,122.5,"86,932,500",249923.0,0.614,39.86,0.299,59.0
183,Yemen,370.4,443.51,28.95,20.7,1639.8,222.1,NaN,"22,763,008",57076.0,0.459,60.49,0.747,200.0
184,Zambia,183.9,1391.85,67.65,2.1,-38.8,-19.3,5.5,"13,216,985",18114.0,0.443,11.31,0.623,440.0
185,Zimbabwe,632.7,515.02,20.36,9.5,30.8,-40.9,11.4,"13,076,978",NaN,0.387,-9.37,0.544,570.0

In [28]:
df['Unnamed: 0'].values

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua & Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia & Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Congo, Dem. Republic',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea (North)',
       'Korea (South)', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macedonia, FYR', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts & Nevis',
       'Saint Lucia', 'Saint Vincent & Grenadines', 'Samoa',
       'Sao Tome & Principe', 'Saudi Arabia', 'Senegal',
       'Serbia & Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad & Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

### Shortcuts for column names:

Column Name: Historical Emissions A Cumulative CO2 emission from energy, 1850-2007 (million tonnes) <br>
Shortcut: "co2_emissions"

Historical Emissions B Cumulative GHG Emissions, 1990-2010 (million tonnes CO2 equivalent) <br>
Shortcut: "ghg_emissions"

Current GHG Emissions Total GHG Emissions, 2010 (million tonnes CO2 equivalent) <br>
Shortcut: "ghg_2010_emissions"

Current CO2 Emissions CO2 emissions from fossil fuel combustion, 2011 (million tonnes) <br>
Shortcut: "co2_2011_emissions"

Change from 1971–2011 (%) <br>
Shortcut: "change_1971_2011"

Change from 1990–2011 (%) <br>
Shortcut: "change_1990_2011"

Total carbon footprint Footprint of all goods and services consumed (million tonnes CO2 equivalent) <br>
Shortcut: "total_footprint"

Population 2010 <br>
Shortcut: "pop_2010"

GDP-PPP 2010 (Million $ (2005)) <br>
Shortcut: "gdp-ppp_2010"

HDI, 2011 <br>
Shortcut: "hdi_2011"

HDI Change from 1990-2011 (%) <br>
Shortcut: "hdi_change_1990_2011"

Gender Inequality Index Value, 2012 <br>
Shortcut: "gender_inequality_2012"

Maternal Mortality Ratio, 2010 <br>
Shortcut: "maternal_2010"

In [4]:
# df = pd.read_excel("Copy of ProblemSet3 Data.xlsx").fillna("")
# df.dropna()
# new_titles, new_title = [], ""
# for title in df.columns:
#     for title_add in df[title][:3]:
#         if title_add != "":
#             new_title += (title_add + "\n")
#     new_titles.append(title + "\n" + new_title)
#     new_title = ""
# for i in range(len(new_titles)):
#     if new_titles[i][:8] == "Unnamed:":
#         new_titles[i] = new_titles[i][11:]
# df.columns = new_titles
# df.index = ["0"] * 3 + list(df.index)[3:]
# df = df.drop("0")
# # df = df.replace("", 0)

# t = Table().with_columns('Country', df.index.values)
# for i in range(len(df.columns)):
#     new_values, old_values = [], df[df.columns[i]]
#     for j in range(len(old_values)):
#         if old_values[j] != "":
#             new_values.append(float(old_values[j]))
#         else:
#             new_values.append(old_values[j])
# #     print(new_values)
#     t = t.with_column(df.columns[i], new_values)

# problem_set = t

#### Alright! Let's begin!

In this problem set, you will dive into some publicly available data on climate change, economic growth, and human development in an attempt to understand a little about the complex relationships between these parameters. With each chart you create, be sure to label your axes, create a chart title, and provide a simple regression line (including the R2 value). Note that you don’t need a chart legend if you only have one set of data. Remember – presentation is important! Also remember that a robust analysis would use far more in depth statistics, in particular focusing on each component of your regression model, both the size of the effect of each component as well as the significance, but for the purposes of this problem set linear regression slopes and R2 values will do.

The data is in a table named "problem_set" (Run the next cell to see what it looks like).

In [3]:
problem_set

Country           | Historical Emissions A
Source: WRI, 2011
(Climate Analysis Indicators Tool v8)
Cumulative CO2 emissions from energy, 1850–2007 (million tonnes)
 | Historical Emissions B
Source: WRI, 2014
(Climate Analysis Indicators Tool 2.0)
Cumulative GHG Emissions, 1990-2010  (million tonnes CO2 equivalent)
 | Current GHG Emissions
Source: WRI, 2014
(Climate Analysis Indicators Tool 2.0)
Total GHG Emissions, 2010  (million tonnes CO2 equivalent)
 | Current CO2 Emissions
Source: IEA, 2013
(CO2 Emissions from Fuel Combustion, 2013 Highlights)
CO2 emissions from fossil fuel combustion, 2011 (million tonnes)
 | Change from 1971–2011 (%)
 | Change from 1990–2011 (%)
 | Total carbon footprint
Source: Peters et al, 2011
(PNAS)
Footprint of all goods and services consumed (million tonnes CO2 equivalent)
 |      | Source: WRI, 2014
(Climate Analysis Indicators Tool 2.0)
Population 2010
 | GDP-PPP 2010 (Million $ (2005))
 |
    | Total carbon footprint.1
Source: UNHDP, 2014
(Human Development Reports)
HDI, 2011
 |
HDI Change from 1990-2011 (%)
 |
Gender Inequality Index Value, 2012
 |
Maternal Mortality Ratio, 2010
Afghanistan       | 72.4                                                                                                                                             | 349.34234819                                                                                                                                          | 24.9378183                                                                                                                                 |                                                                                                                                                                 |                            |                            |                                                                                                                                        |      | 28397812.0                                                                | 33595.89494                      |      | 0.371                                                                               | 50.81300813008131               | 0.712                                 | 460.0
Albania           | 227.9                                                                                                                                            | 143.80923995999999                                                                                                                                    | 6.56747754                                                                                                                                 | 3.872173                                                                                                                                                        | -0.344532062302469         | -38.029952665129116        | 5.36655937086411                                                                                                                       |      | 3150143.0                                                                 | 24545.14398                      |      | 0.748                                                                               | 13.16187594553706               | 0.251                                 | 27.0
Algeria           | 2272.4                                                                                                                                           | 2618.807043                                                                                                                                           | 169.4218605                                                                                                                                | 103.878773                                                                                                                                                      | 1064.7801333794405         | 97.00504231144794          |                                                                                                                                        |      | 37062820.0                                                                | 269074.5719                      |      | 0.711                                                                               | 26.512455516014217              | 0.391                                 | 97.0
Angola            | 305.3                                                                                                                                            | 3300.9745847                                                                                                                                          | 219.8435836                                                                                                                                | 15.719235                                                                                                                                                       | 845.5150510825533          | 291.96607483225927         |                                                                                                                                        |      | 19549124.0                                                                | 98686.19045                      |      | 0.504                                                                               |                                 |                                       | 450.0
Antigua & Barbuda | 16.6                                                                                                                                             | 14.166335613                                                                                                                                          | 1.203421037                                                                                                                                |                                                                                                                                                                 |                            |                            |                                                                                                                                        |      | 87233.0                                                                   | 1541.000517                      |      | 0.759                                                                               |                                 |                                       |
Argentina         | 5894.8                                                                                                                                           | 6308.229589799999                                                                                                                                     | 359.0118969                                                                                                                                | 183.564551                                                                                                                                                      | 121.76281969580972         | 83.82239867862651          | 165.457784557464                                                                                                                       |      | 40374224.0                                                                | 580427.4306                      |      | 0.81                                                                                | 15.54921540656207               | 0.38                                  | 77.0
Armenia           | 505.6                                                                                                                                            | 183.454326817                                                                                                                                         | 13.4266625                                                                                                                                 | 4.663286                                                                                                                                                        |                            | -77.2090896481657          | 6.01209693357893                                                                                                                       |      | 2963496.0                                                                 | 15152.61947                      |      | 0.726                                                                               | 15.60509554140127               | 0.34                                  | 30.0
Australia         | 13108.5                                                                                                                                          | 10252.545315800002                                                                                                                                    | 587.5260417                                                                                                                                | 396.76749                                                                                                                                                       | 175.2692807536658          | 52.59047516359997          | 296.955754060111                                                                                                                       |      | 22065300.0                                                                | 763921.0601                      |      | 0.936                                                                               | 6.3636363636363695              | 0.115                                 | 7.0
Austria           | 4541.9                                                                                                                                           | 1712.9249392400002                                                                                                                                    | 84.2764363                                                                                                                                 | 68.4891                                                                                                                                                         | 40.619967480614896         | 21.35376232968831          | 99.8307870789066                                                                                                                       |      | 8389771.0                                                                 | 296268.1013                      |      | 0.894                                                                               | 12.170639899623586              | 0.102                                 | 4.0
Azerbaijan        | 2323.7                                                                                                                                           | 1218.82671986                                                                                                                                         | 64.21001445                                                                                                                                | 26.791025                                                                                                                                                       |                            | -51.29347774807037         | 30.2649660329915                                                                                                                       |      | 9054332.0                                                                 | 80695.56139                      |      | 0.732                                                                               |                                 | 0.323                                 | 43.0
... (176 rows omitted)

Note that there are missing data! (welcome to the ‘real world’). If, when your calculations, you don't exclude (i.e. delete) these, you will possibly run across some errors, and some meaningless results! (For example, if you were to try to calculate the "Per-Capita CO2 Emission from Fossil Fuel Consumption" of Afghanistan, you would get a result of zero because the emission data is missing. If you plotted this and used it to determine your linear regression, your regression would obviously be meaningless.)

<img src="error_pic.png" height='50' width='850'>

So, in order to avoid these issues, we've created a function to remove all the non-integers from the columns! The function is in the cell below.

In [ ]:
def clean(x, y):
    """
    Takes in two column indices of "problem_set", x and y, in that respective order. Returns a list with two lists
    composed of the two column indices from the table "problem_set".
    """
    combined, x, y = list(zip(problem_set[x], problem_set[y])), [], []
    for pair in combined:
        if pair[0] != "" and pair[1] != "":
            x.append(pair[0])
            y.append(pair[1])
    return [x, y]

### IMPORTANT

When getting your results from the clean function, make sure to index into the 0th element ([0]) to get the x-values, and index into the 1st element([1]) to get the y-values.

For example, clean(0, 1) returns the valid data points between the first two columns in the problem_set table. If we set result to equal clean(0, 1) (result = clean(0, 1)), then we can get the x-column with result[0] and the y-column with result[1].

With the function "clean" above, you should be able to perform any graphing you may be asked to do.

When you explain your graphs below, do not describe them but instead interpret and explain them. Are there any correlations (or lack of)? Is there anything else that we may learn from the graph?

Finally, the scatter plots you are asked to create are written below using the standard convention of dependent vs. independent (i.e. “plot Y vs. X”).

### A quick tutorial on how to plot with Numpy and Matplotlib

When plotting with Numpy and Matplotlib, there are a few functions that come in quite handy:
   - Plot
   - Scatter
   
Using plot, you're able to take any two columns of a table, and plot them quite easily! For example, if I wanted to plot, I could do:

In [ ]:
# # plt.scatter(np.asarray(clean(1,2)[0]), np.asarray(clean(1,2)[1]))
# # x = np.random.rand(10)
# # y = np.random.rand(10)
# # print(type(x))
# # plt.scatter(x, y)
# x = np.asarray(clean(1,2)[0][:10])
# # print(type(z))
# y = np.asarray(clean(1,2)[1][:10])
# plt.yticks(np.arange(0, 10000, 1000))
# plt.scatter(x, y)

In [ ]:
def standard_units(x):
    "Convert any array of numbers to standard units."
    return (x - np.average(x))/np.std(x)  

def correlation(t, label_x, label_y):
    "Determines the correlation between the x and y variables"
    x_in_standard_units = standard_units(t.column(label_x))
    y_in_standard_units = standard_units(t.column(label_y))
    return np.average(x_in_standard_units * y_in_standard_units)

1) Make a chart of Total GHG Emissions, 2010 vs. GDP	
a) Explain your result in 2-3 sentences.

2) Make a chart of Per-Capita Total GHG Emissions, 2010 vs. HDI
a) Explain your result in 2-3 sentences.

3) Make a chart of Cumulative CO2 Emissions from Energy (1850-2007) Rank vs. HDI Rank   
a) Explain your result in 2-3 sentences.	

4) Make a chart of Cumulative CO2 Emissions from Energy (1850-2007) Per Capita Rank vs. HDI Rank   
a) Explain your result in 2-3 sentences.

5) Which country has the highest Total GHG Emissions in 2010? Where do they rank on the per-capita scale? Which country has the highest per-capita?

6) Which country has the highest “Footprint of all goods and services consumed”? Which has the highest per-capita?

7) Go to www.gapminder.org/tools. Create an animated graph that tells you something interesting about climate change (CO2 Emissions should be on one axis). Note you can change an axis by clicking on the axis label and selecting a new measure from the various options. Take a screenshot of one year (be careful – sometimes the most recent data doesn’t include many countries, so take a screenshot that includes most of the world) and include that with your assignment.
a) Explain your result in 2-4 sentences.

8) Reflect on your findings.
a) Do you think per-capita or total national emissions are the more appropriate way to do carbon accounting, and why?
b) Do you think accounting should be based on what a country emits within its boundaries, or what a country consumes, including emissions from the production of goods elsewhere?
c) Do you think countries should reduce their emissions in proportion to i) their past emissions; ii) their level of development & capacity to reduce; iii) the degree to which they will be impacted by climate change; iv) a combination of these, or something else (explain)?